TINA_PUBLIC_IS_LOCAL=true
NEXT_PUBLIC_TINA_CLIENT_ID=6fe2e6c7-0d22-43b1-9222-c5a2a8fbe12d
NEXT_PUBLIC_TINA_BRANCH=main
TINA_TOKEN=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
